*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav-bar{
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(251, 222, 188);
}
#logo img{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
}
#navele a{
    margin: 2vw;
    text-decoration: none;
    outline: black;
}
#navele a:hover{
   background-color: rgba(50, 50, 50, 0.307);
   padding: 1vw;
   border-radius: 10px;
   color: white;
}
#center{
    height: calc(100% - 15%);
    padding: 2vw;
    background-color: brown;
}
#content{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 2vw;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#content::-webkit-scrollbar{
    display: none;
}
.elem{
    display: inline-block;
    height: 30vw;
    width: 30%;
    background-color: blue;
    border-radius: 10px;
}
.elem img{
    border-radius: 10px;
    border: 1px solid black;
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
