*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav-bar{
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(251, 222, 188);
}
#logo img{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
}
#navele a{
    margin: 2vw;
    text-decoration: none;
    outline: black;
    font-weight: 600;
    font-family: sans-serif;
}
#navele a:hover{
   background-color: rgba(50, 50, 50, 0.307);
   padding: 1vw;
   border-radius: 10px;
   color: white;
}
#center{
    height: calc(100% - 15%);
    padding: 2vw;
    background-color: brown;
}
#content{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 2vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    /* animation: scroll 15s linear infinite; */
}
#content::-webkit-scrollbar{
    display: none;
}
#slider {
    width: fit-content;
    white-space: nowrap;
    display: flex;
    gap: 2vw;
    animation: scroll 15s linear infinite;
    will-change: transform;
}
.elem{
    flex-shrink: 0;
    display: inline-block;
    height: 30vw;
    width: 30%;
    border-radius: 10px;
}
.elem img{
    border-radius: 10px;
    border: 1px solid black;
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#btn{
    position: absolute;
    left: 50%;
    top: 90%;
}
#btn button{
    padding: 10px;
    border-radius: 10px;
    background:linear-gradient(to top,rgba(0, 0, 0, 0.315),white) ;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 2vw));
    }
}